# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=
SESSION_ID=
REMOVEBG_KEY=
PREFIX=.
MODE=public
AutoReaction=true
STATUSVIEW=true
OWNERS=254740007567;Marisel
antidelete=true
BOT_NAME=Bugatti 
DL_MSG=Here is your video
ANTI_LINK=true
ANTI_CALL=false
VIEWONCE=true
REPLY_STATUS=true
STATUS_MESSAGE=status seen
AUTOREAD=false
